<%= form_with scope: :todo, url: todos_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
